/***************************************************** HEADER
****************************************************/
#header-text {
  font-size: 4em;
  margin: 1em 0 0 0;
  text-transform: uppercase; }

#tagline {
  font-size: 2em;
  margin: 0 0 .25em;
  color: #808080; }

#sandbox-explanation {
  font-size: 1.8em;
  margin: 1em 6em; }