/************************************************************
** SETUP 
*************************************************************/
/*SASS DEFAULTS*/
/* Font Colors */
/* Background Colors */
/* Display resets */
/* Display Defaults */
.centered {
  text-align: center; }

body {
  font-size: 12px;
  font-family: 'Droid', serif;
  color: #000; }

/************************************************************
** PAGE 
*************************************************************/
/** Header **/
/***************************************************** HEADER
****************************************************/
#header-text {
  font-size: 4em;
  margin: 1em 0 0 0;
  text-transform: uppercase; }

#tagline {
  font-size: 2em;
  margin: 0 0 .25em;
  color: #808080; }

#sandbox-explanation {
  font-size: 1.8em;
  margin: 1em 6em; }

/** Footer **/
/** Front Page **/
/***************************************************** PAGE CONTENTS
****************************************************/
#sandbox-wrapper {
  width: 95%;
  border-top: 1px solid black;
  margin: 0 auto;
  padding-top: 1em;
  font-size: 1.75em; }

.project-title {
  font-size: 1.6em; }

.project-description {
  font-size: 1.6em;
  color: #808080; }

.auto-linker-ref {
  color: #404040; }

/* TODO List */
#todo {
  width: 95%;
  margin: 0 auto; }
  #todo ul {
    font-size: 1.75em; }

/** Pages Here **/
/************************************************************
** Responsive Design 
*************************************************************/
/* Mobile Display */
/* Tablets Landscape 
* Width: 1025px
*/
@media only screen and (orientation: landscape) and (max-width: 1025px) {
  #header-text {
    font-size: 2.5em; } }
/* Tablets Portrait 
* Width: 800px
*/
@media only screen and (orientation: portrait) and (max-width: 800px) {
  #header-text {
    font-size: 2.5em; }

  #sandbox-explanation {
    margin: 1em 2em; }

  p {
    font-size: 1.2em; } }
/* Phone: portrait 
*
*/
/* Phone: portrait 
* Width: 650px;
*/
@media only screen and (orientation: portrait) and (max-width: 650px) {
  #sandbox-explanation {
    margin: 1em;
    font-size: 2em; } }
/* Phone: portrait 
* Width: 500px;
*/
@media only screen and (orientation: portrait) and (max-width: 500px) {
  #header-text {
    font-size: 2em; }

  #sandbox-explanation {
    margin: 1em;
    font-size: 1.5em; }

  p {
    font-size: 1em; } }
/* Phone: portrait 
* Width: 400px;
*/
@media only screen and (orientation: portrait) and (max-width: 400px) {
  p {
    font-size: 1em; }

  #todo {
    font-size: .9em; } }
/* Phone: portrait 
* Width: 320px;
*/
@media only screen and (orientation: portrait) and (max-width: 320px) {
  p {
    font-size: 0.8em; }

  #todo {
    font-size: .7em; } }
/* Phone: landscape 
* Max-width: 800px
*/
@media only screen and (orientation: landscape) and (max-width: 800px) {
  #sandbox-explanation {
    margin: 1em; } }
/* Phone: landscape 
* Max-width: 650px
*/
@media only screen and (orientation: landscape) and (max-width: 650px) {
  #sandbox-explanation {
    font-size: 1.5em; }

  #todo {
    font-size: .8em; } }
/* Phone: landscape 
* Max-width: 490px
*/
@media only screen and (orientation: landscape) and (max-width: 490px) {
  #header-text {
    font-size: 2em; } }

/*# sourceMappingURL=style.css.map */
